![](./image/pandas-logo.png)

# Python Pandas: Tips & Tricks

Oleh Channel YouTube [Indonesia Belajar](https://www.youtube.com/IndonesiaBelajarKomputer)

In [ ]:
from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'scroll': True,
        'width': '100%',
        'height': '100%',
})

## \#01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
tuple('ABCDE')

### Menyertakan Prefix Kolom

In [ ]:
df.add_prefix('kolom_')

### Menyertakan Suffix Kolom

In [ ]:
df.add_suffix('_field')

## \#02: Pemilihan baris (rows selection) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Selection dengan operator logika `|`

In [ ]:
df[(df['A'] == 1) | (df['A'] == 3)]

### Selection dengan fungsi `isin()`

In [ ]:
df[df['A'].isin([1, 3])]

### Mengenal operator negasi `~`

In [ ]:
df[~df['A'].isin([1, 3])]

## \#03: Konversi tipe data String ke Numerik pada kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'col1':['1', '2', '3', 'teks'], 
        'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

In [ ]:
df.dtypes

### Konversi tipe data dengan fungsi `astype()`

In [ ]:
df_x = df.astype({'col2':'int'})
df_x

In [ ]:
df_x.dtypes

### Konversi tipe data numerik dengan fungsi `to_numeric()`

In [ ]:
df.apply(pd.to_numeric, errors='coerce')

## \#04: Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

In [ ]:
df.dtypes

### Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

### Memilih kolom bertipe data string atau `object`

In [ ]:
df.select_dtypes(include='object')

### Memilih kolom bertipe data `datetime`

In [ ]:
df.select_dtypes(include='datetime')

### Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include=['number', 'object'])

## \#05: Membalik urutan baris dan kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membalik urutan kolom

In [ ]:
df.loc[:, ::-1]

### Membalik urutan baris

In [ ]:
df.loc[::-1]

### Membalik urutan baris dan melakukan penyesuaian ulang `index`

In [ ]:
df.loc[::-1].reset_index(drop=True)

## \#06: Mengganti nama (label) kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Mengganti nama (label) untuk sebuah kolom pada Data Frame

In [ ]:
df.rename(columns={'C':'Hobi'})

### Mengganti nama (label) untuk banyak kolom pada Data Frame

In [ ]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

## \#07: Menghapus (drop) missing values (`NaN`)

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()

In [ ]:
df = df.rename(columns={'index':'Z'})
df.head()

In [ ]:
df_backup = df.copy(deep=True)

### Menghapus (drop) setiap kolom yang mengandung missing values

In [ ]:
df = df.dropna(axis='columns') 
df.head()

### Menghapus (drop) setiap baris yang mengandung missing values

In [ ]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

### Persentase missing values untuk tiap kolom

In [ ]:
df = df_backup.copy(deep=True)
df.isna().mean()

### Menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [ ]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

## \#08: Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

### Mengenal Pandas Series

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
type(df)

### Memeriksa kesamaan dengan operator `==`

In [ ]:
df['A'] == df['B']

### Memeriksa kesamaan dengan method `equals()`

In [ ]:
df['A'].equals(df['B'])

### Memeriksa kesamaan antar dua Data Frame

In [ ]:
df1 = df.copy(deep=True)

df.equals(df1)

In [ ]:
df == df1

## \#09: Membagi Data Frame menjadi dua secara acak

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

In [ ]:
df.shape

In [ ]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

In [ ]:
df_1

In [ ]:
df_2

## \#10: Mengganti nama (label) kolom pada Data Frame berdasarkan pola

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

### Menggunakan lowercase untuk nama kolom dan mengganti spasi dengan `_`

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

### Memangkas kelebihan spasi pada nama kolom

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.head()

## \#11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan `loc`

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Seleksi kolom dan baris menggunakan `loc`

In [ ]:
df.loc[[0,3,4], ['B','E']]

### Seleksi baris dengan kondisi

In [ ]:
df.loc[df['B']>10, ['B','D','E']]

### Slicing Data Frame dengan `loc`

In [ ]:
df.loc[0:4, 'B':'D']

## \#12: Membentuk kolom bertipe `datetime` dari sejumlah kolom lain pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'day':[1, 2, 10 ,25, 12], 
        'month':[1, 2, 4, 5, 6], 
        'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

### Membentuk kolom bertipe `datetime`

In [ ]:
df['penaggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

In [ ]:
df.dtypes

## \#13: Konversi nilai numerik ke dalam sejumlah kategori

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan `cut()`

In [ ]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

## \#14: Menggabungkan (merge) dua Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
df1 = df.copy(deep=True)
df1 = df1.drop([1, 4])
df1

In [ ]:
df2 = df.copy(deep=True)
df2 = df2.drop([0, 3])
df2

### Menggabungkan dua Data Frame

In [ ]:
df_inner = pd.merge(df1, df2, how='inner')
df_inner

In [ ]:
df_outer = pd.merge(df1, df2, how='outer')
df_outer

## \#15: Memecah nilai string dari suatu kolom ke dalam beberapa kolom baru

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'nama':['Didi Kempot', 'Glenn Fredly', 'Mbah Surip'], 
        'tempat_kelahiran':['Surakarta, Jawa Tengah', 'Jakarta, DKI Jakarta', 'Mojokerto, Jawa Timur']}
df = pd.DataFrame(data)
df

### Memecah nama depan dan nama belakang

In [ ]:
df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

### Memecah nama kota dan propinsi

In [ ]:
df[['kota', 'propinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

## \#16: Menata ulang Data Frame dengan mutiple indexes menggunakan `unstack()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Data Frame dengan multiple indexes dari hasil groupping

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().to_frame()

### Menata ulang Data Frame dengan mutiple indexes

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().unstack()

## \#17: Resampling pada data deret waktu (time series data)

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

### Resampling data dengan interval monthly

In [ ]:
df.resample('M')['col1'].sum().to_frame()

### Resampling data dengan interval daily

In [ ]:
df.resample('D')['col1'].sum().to_frame()

## \#18: Membentuk dummy Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Membentuk Data Frame dari Dictionary

In [ ]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

### Membentuk Data Frame dari Numpy Array

In [ ]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

In [ ]:
pd.DataFrame(arr, columns=tuple('ABC'))

### Membentuk Data Frame dengan memanfaatkan  `pandas.util.testing`

In [ ]:
pd.util.testing.makeDataFrame().head()

In [ ]:
pd.util.testing.makeMixedDataFrame().head()

In [ ]:
pd.util.testing.makeTimeDataFrame().head()

In [ ]:
pd.util.testing.makeMissingDataframe().head()

## \#19: Formatting tampilan Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] * 10_000
df

In [ ]:
df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df = df.reset_index()
df = df.rename(columns={'index':'tanggal'})
df

### Melakukan formatting tampilan Data Frame

In [ ]:
formatku = {'tanggal':'{:%d/%m/%y}', 
            'operasional':'Rp {:.2f}',
            'omset':'Rp {:.2f}'}

laporan = df.style.format(formatku)
laporan

In [ ]:
type(laporan)

In [ ]:
laporan.hide_index()

In [ ]:
laporan.set_caption('Data Omset dan Operasional')

In [ ]:
laporan.highlight_min('omset', color='pink')
laporan.highlight_max('omset', color='lightgreen')

laporan.highlight_min('operasional', color='lightblue')
laporan.highlight_max('operasional', color='grey')

## \#20: Menggabungkan (merge) dua Data Frame secara berdampingan

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d1 = {'col1':[1, 2, 3], 
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

In [ ]:
d2 = {'col3':[4, 5, 6], 
      'col4':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

### Menggabungkan (merge) dua Data Frame secara berdampingan

In [ ]:
df = pd.merge(df1, df2, left_index=True, right_index=True)
df

## \#21: Melakukan agregasi menggunakan `agg()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/Iris.csv')
df

### Mengenal `groupby()` dan fungsi agregasi

In [ ]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

### Agregasi dengan `agg()`

In [ ]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

### Agregasi dengan `describe()`

In [ ]:
df.groupby('Species')['PetalLengthCm'].describe()

## \#22: Memantau penggunaan memory suatu Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df_titanic = pd.read_csv('./data/titanicfull.csv')
df_titanic.head()

In [ ]:
df_iris = pd.read_csv('./data/Iris.csv')
df_iris.head()

### Memantau penggunaan memory suatu Data Frame

In [ ]:
df_titanic.info(memory_usage='deep')

In [ ]:
df_iris.info(memory_usage='deep')

### Memantau penggunaan memory untuk setiap kolom dari suatu Data Frame

In [ ]:
df_titanic.memory_usage(deep=True)

In [ ]:
df_iris.memory_usage(deep=True)

## \#23: Seleksi baris pada Data Frame dengan `query()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'kolom_satu':[1, 2, 3, 4, 5], 
     'kolom dua':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

### Seleksi baris dengan `query()`

In [ ]:
df.query('kolom_satu > 2')

In [ ]:
df.query('`kolom dua` > 30')

## \#24: UTC dan konversi zona waktu (time zone) pada Python Pandas

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Series

In [ ]:
s = pd.Series(range(1591683521, 1592201921, 3600))
s = pd.to_datetime(s, unit='s')
s.head()

[Unix Epoch Time](https://en.wikipedia.org/wiki/Unix_time) <br/>
[Epoch Time Converter](https://www.epochconverter.com/)

### Pengaturan zona waktu (time zone)

In [ ]:
s = s.dt.tz_localize('UTC')
s.head()

In [ ]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

In [ ]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()

## \#25: Pengaturan tampilan (display option) pada Python Pandas

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df

### Pengaturan tampilan

In [ ]:
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 6)
pd.set_option('display.max_colwidth', 20)

df

In [ ]:
pd.reset_option('^display.', silent=True)

df

In [ ]:
pd.describe_option()

## \#26: Membuat Data Frame dari hasil seleksi Spreadsheet

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Membuat Data Frame dari hasil seleksi Spreadsheet

In [ ]:
df = pd.read_clipboard()
df

## \#27: Mengenal fungsi agregasi `first()` dan `last()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

### Mengenal fungsi agregasi `first()` dan `last()`

In [ ]:
df.groupby('dokter')['pasien'].count().to_frame()

In [ ]:
df.groupby('dokter')['pasien'].first().to_frame()

In [ ]:
df.groupby('dokter')['pasien'].last().to_frame()

## \#28: Mengenal `explode` dan `implode` list pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'Team':['DC', 'Marvel'], 
     'Heroes':[['Batman', 'Superman', 'Wonder Woman', 'Aquaman', 'Green Lantern', 'Shazam'], 
               ['Iron Man', 'Captain America', 'Ant-Man', 'Black Panther', 'Captain Marvel']]}

df = pd.DataFrame(d)
df

### Explode

In [ ]:
df1 = df.explode('Heroes')
df1

### Implode

In [ ]:
d = {'Team':['DC', 'Marvel']}
df2 = pd.DataFrame(d)
df2

In [ ]:
df2['Imploded'] = df1.groupby(df1.index)['Heroes'].agg(list)
df2

## \#29: Melakukan random sampling pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'col_1':[1, 2, 3, 4, 5], 
     'col_2':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

### Random sampling with/without replacement

In [ ]:
df.sample(n=4, replace=False, random_state=0)

In [ ]:
df.sample(n=4, replace=True, random_state=0)

## \#30: Akses nilai variabel pada `query()`

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Akses nilai variabel pada `query()`

In [ ]:
df.query('A > 10')

In [ ]:
rerata = df['A'].mean()
rerata

In [ ]:
df.query('A > @rerata')

## \#31: Mengenal tipe data ordinal pada Pandas

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'pelanggan':[11, 12, 13, 14], 
     'kepuasan':['baik', 'cukup', 'buruk', 'cukup']}

df = pd.DataFrame(d)
df

### Tipe data ordinal pada Pandas

In [ ]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'], 
                                    ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

In [ ]:
df = df.sort_values('kepuasan', ascending=True)
df

In [ ]:
df[df['kepuasan'] >= 'cukup']

## \#32: Plotting dari suatu Pandas Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 40
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df.head()

### Line Plot

In [ ]:
df.head()

In [ ]:
df.plot(kind='line')

In [ ]:
df[['A', 'B']].plot(kind='line')

### Bar Plot

In [ ]:
df.head()

In [ ]:
df.plot(kind='bar')

In [ ]:
df[['A', 'B']].plot(kind='bar')

In [ ]:
df[['A', 'B']].head().plot(kind='bar')

In [ ]:
df[['A', 'B']].head().plot(kind='barh')

### Area Plot

In [ ]:
df.head()

In [ ]:
df.plot(kind='area')

In [ ]:
df[['A', 'B']].head().plot(kind='area')

### Box Plot

In [ ]:
df.head()

In [ ]:
df.plot(kind='box')

### Histogram

In [ ]:
df.head()

In [ ]:
df.plot(kind='hist')

In [ ]:
df[['A', 'B']].plot(kind='hist')

### Kernel Density Estimation (KDE)

In [ ]:
df.head()

In [ ]:
df.plot(kind='kde')

### Scatter Plot

In [ ]:
df.head()

In [ ]:
df.plot(x='A', y='B', kind='scatter')

## \#33: Menampilkan nilai kumulatif (cummulative)

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'pemain':['Budi', 'Joni', 'Iwan', 'Budi', 'Budi', 'Iwan', 'Asep', 'Joni'], 
     'goal':[2, 1, 3, 1, 1, 2, 2, 3]}
df = pd.DataFrame(d)
df

### Menampilkan nilai kumulatif (cummulative)

In [ ]:
df['goal'].cumsum().to_frame()

In [ ]:
df['jumlah_goal_kumulatif'] = df['goal'].cumsum()
df

In [ ]:
df['jumlah_goal_kumulatif_tiap_pemain'] = df.groupby('pemain')['goal'].cumsum()
df

In [ ]:
df['cummax'] = df['goal'].cummax()
df

In [ ]:
df['cummin'] = df['goal'].cummin()
df

In [ ]:
df['cumprod'] = df['goal'].cumprod()
df

## \#34: Mapping pada Data Frame dengan `applymap()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.DataFrame({'jenis_kelamin':['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'], 
                   'usia':[23, 21, 24, 22, 21], 
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

### Mapping pada Data Frame dengan `applymap()`

In [ ]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)
df

### `applymap()` dengan dictionary

In [ ]:
mapping = {'pria':'L',
           'lelaki':'L',
           'wanita':'P',
           'perempuan':'P',
           'pagi':1,
           'siang':2,
           'malam':3}

df.applymap(mapping.get)

In [ ]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

df

## \#35: Memadukan fungsi agregasi dengan `transform()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'no_nota':[1, 1, 1, 2, 2, 3, 4, 5], 
     'kopi': ['latte', 'cappuccino', 'espresso', 'latte', 'espresso', 'cappuccino', 'latte', 'espresso'],
     'harga':[50, 60, 80, 150, 120, 60, 100, 40]}

df = pd.DataFrame(d)
df

### Menghitung total harga untuk tiap nomor nota

In [ ]:
df.groupby('no_nota')['harga'].sum().to_frame()

In [ ]:
df['total_harga'] = df.groupby('no_nota')['harga'].transform(sum)
df

### Menghitung total omset untuk tiap jenis kopi yang terjual

In [ ]:
df.groupby('kopi')['harga'].sum().to_frame()

In [ ]:
df['total_omset'] = df.groupby('kopi')['harga'].transform(sum)
df

## \#36: Menyatukan kolom dengan `str.cat()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin': ['L', 'L', 'P', 'L'], 
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

### Menyatukan kolom dengan `str.cat()`

In [ ]:
df['nama'].str.cat(df['jenis_kelamin'], sep=', ').to_frame()

In [ ]:
df['nama_jk'] = df['nama'].str.cat(df['jenis_kelamin'], sep=', ')
df

In [ ]:
df['nama'].str.cat(df['usia'].astype('str'), sep=' - ').to_frame()

In [ ]:
df['nama_usia'] = df['nama'].str.cat(df['usia'].astype('str'), sep=' - ')
df

## \#37: Seleksi baris dengan banyak kriteria

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Seleksi baris dengan banyak kriteria

In [ ]:
df[(df['sex']=='female') & (df['age']>=60) & (df['embarked']=='S') & (df['survived']==1)]

In [ ]:
df[
    (df['sex']=='female') & 
    (df['age']>=60) & 
    (df['embarked']=='S') & 
    (df['survived']==1)
]

In [ ]:
kr1 = df['sex']=='female'
kr2 = df['age']>=60
kr3 = df['embarked']=='S'
kr4 = df['survived']==1

df[kr1 & kr2 & kr3 & kr4]

## \#38: Mengenal parameter `header` dan `skiprows`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/iris_error.csv')
df.head(8)

In [ ]:
df = pd.read_csv('./data/iris_error.csv', header=2, skiprows=[5,6])
df.head()

## \#39: Mengacak urutan baris pada DataFrame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 6
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Mengacak urutan baris pada DataFrame

In [ ]:
df.sample(frac=1.0, random_state=1)

In [ ]:
df.sample(frac=1.0, random_state=1).reset_index(drop=True)

## \#40: Mengakses sekelompok data dengan `get_group()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Mengakses sekelompok data yang sudah terkelompok dengan `get_group()`

In [ ]:
grouped_df = df.groupby('sex')

In [ ]:
grouped_df.get_group('female').head(10)

In [ ]:
grouped_df = df.groupby('survived')

In [ ]:
grouped_df.get_group(1).head(10)

## \#41: Menerapkan agregasi pada sejumlah kolom dengan `agg()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

 ### Menerapkan agregasi pada sejumlah kolom dengan `agg()`

In [ ]:
df.groupby('pclass').agg({'pclass':'count', 
                          'age':['mean', 'max'], 
                          'survived': 'mean'})

In [ ]:
df.groupby('pclass').agg(n_pass=('pclass', 'count'),
                         avg_age=('age', 'mean'),
                         max_age=('age', 'max'), 
                         survival_rate=('survived', 'mean'))

## \#42: Mengurutkan data berdasarkan kolom tertentu

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Mengurutkan data berdasarkan kolom tertentu

In [ ]:
df.sort_values('age').head()

In [ ]:
df.sort_values('age', ascending=False).head()

In [ ]:
df.sort_values(['survived', 'age']).head()

## \#43: Menangani whitespace pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
data = {'nim': ['10', '11', '12', '13', '  '],
        'nama': ['adi', '  ', 'tejo', '  ', 'bejo']}

df = pd.DataFrame(data)
df

### Menangani whitespace pada Data Frame

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df

In [ ]:
df.info()

## \#44: Menata ulang penempatan kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Menata ulang penempatan kolom pada Data Frame

In [ ]:
df[['D', 'C', 'A', 'E', 'B']]

In [ ]:
df

In [ ]:
df = df[['D', 'C', 'A', 'E', 'B']]
df

## \#45: Memadukan `loc` dan `iloc` untuk melakukan seleksi data

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Memadukan `loc` dan `iloc` untuk melakukan seleksi data

In [ ]:
df.iloc[15:20, :].loc[:, 'name':'age']

In [ ]:
df.loc[:, 'name':'age'].iloc[15:20, :]

## \#46: Seleksi weekdays dan weekends pada data deret waktu (time series)

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

### Seleksi weekdays dan weekends

In [ ]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

In [ ]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

## \#47: Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

### Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

In [ ]:
df.dtypes

In [ ]:
df['ipk'].apply(type)

In [ ]:
df['ipk'].apply(type).value_counts()

In [ ]:
df['ipk'] = df['ipk'].astype(float)

In [ ]:
df['ipk'].apply(type).value_counts()

## \#48: Mengenal Cummulative Count dengan `cumcount()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'], 
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

### Mengenal Cummulative Count dengan `cumcount()`

In [ ]:
df['count_tiap_penjual'] = df.groupby('penjual').cumcount() + 1
df

In [ ]:
df['count_tiap_barang'] = df.groupby('barang').cumcount() + 1
df

In [ ]:
df['count_pasangan_kolom'] = df.groupby(['penjual', 'barang']).cumcount() + 1
df

## \#49: Seleksi kolom dengan `f-string`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/Iris.csv')
df.head()

### Seleksi kolom dengan `f-string`

In [ ]:
df['SepalWidthCm'].to_frame().head()

In [ ]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

In [ ]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

In [ ]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()

## \#50: Membuat kolom baru dengan `looping` dan `f-string`

### Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.0.5

### Persiapan Data Frame

In [2]:
d = {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'], 
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

### Membuat kolom baru dengan `for loop` dan `f-string`

In [3]:
cols = ['penjual', 'barang']

for col in cols:
    df[f'count_tiap_{col}'] =  df.groupby(col).cumcount() + 1
    
df

  penjual    barang  count_tiap_penjual  count_tiap_barang
0    bejo   monitor                   1                  1
1    tejo   monitor                   1                  2
2    wati  keyboard                   1                  1
3    bejo     mouse                   2                  1
4   cecep  keyboard                   1                  2
5    tejo   monitor                   2                  3
6    wati    laptop                   2                  1
7    bejo   monitor                   3                  4