![](./image/pandas-logo.png)

# Python Pandas: Tips & Tricks

Oleh Channel YouTube [Indonesia Belajar](https://www.youtube.com/IndonesiaBelajarKomputer)

## \#01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
tuple('ABCDE')

### Menyertakan Prefix Kolom

In [ ]:
df.add_prefix('kolom_')

### Menyertakan Suffix Kolom

In [ ]:
df.add_suffix('_field')

## \#02: Pemilihan baris (rows selection) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Selection dengan operator logika `|`

In [ ]:
df[(df['A'] == 1) | (df['A'] == 3)]

### Selection dengan fungsi `isin()`

In [ ]:
df[df['A'].isin([1, 3])]

### Mengenal operator negasi `~`

In [ ]:
df[~df['A'].isin([1, 3])]

## \#03: Konversi tipe data String ke Numerik pada kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'col1':['1', '2', '3', 'teks'], 
        'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

In [ ]:
df.dtypes

### Konversi tipe data dengan fungsi `astype()`

In [ ]:
df_x = df.astype({'col2':'int'})
df_x

In [ ]:
df_x.dtypes

### Konversi tipe data numerik dengan fungsi `to_numeric()`

In [ ]:
df.apply(pd.to_numeric, errors='coerce')

## \#04: Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

In [ ]:
df.dtypes

### Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

### Memilih kolom bertipe data string atau `object`

In [ ]:
df.select_dtypes(include='object')

### Memilih kolom bertipe data `datetime`

In [ ]:
df.select_dtypes(include='datetime')

### Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include=['number', 'object'])

## \#05: Membalik urutan baris dan kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membalik urutan kolom

In [ ]:
df.loc[:, ::-1]

### Membalik urutan baris

In [ ]:
df.loc[::-1]

### Membalik urutan baris dan melakukan penyesuaian ulang `index`

In [ ]:
df.loc[::-1].reset_index(drop=True)

## \#06: Mengganti nama (label) kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Mengganti nama (label) untuk sebuah kolom pada Data Frame

In [ ]:
df.rename(columns={'C':'Hobi'})

### Mengganti nama (label) untuk banyak kolom pada Data Frame

In [ ]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

## \#07: Menghapus (drop) missing values (`NaN`)

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()

In [ ]:
df = df.rename(columns={'index':'Z'})
df.head()

In [ ]:
df_backup = df.copy(deep=True)

### Menghapus (drop) setiap kolom yang mengandung missing values

In [ ]:
df = df.dropna(axis='columns') 
df.head()

### Menghapus (drop) setiap baris yang mengandung missing values

In [ ]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

### Persentase missing values untuk tiap kolom

In [ ]:
df = df_backup.copy(deep=True)
df.isna().mean()

### Menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [ ]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

## \#08: Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

### Mengenal Pandas Series

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
type(df)

### Memeriksa kesamaan dengan operator `==`

In [ ]:
df['A'] == df['B']

### Memeriksa kesamaan dengan method `equals()`

In [ ]:
df['A'].equals(df['B'])

### Memeriksa kesamaan antar dua Data Frame

In [ ]:
df1 = df.copy(deep=True)

df.equals(df1)

In [ ]:
df == df1

## \#09: Membagi Data Frame menjadi dua secara acak

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

In [ ]:
df.shape

In [ ]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

In [ ]:
df_1

In [ ]:
df_2

## \#10: Mengganti nama (label) kolom pada Data Frame berdasarkan pola

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

### Menggunakan lowercase untuk nama kolom dan mengganti spasi dengan `_`

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

### Memangkas kelebihan spasi pada nama kolom

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.head()

## \#11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan `loc`

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Seleksi kolom dan baris menggunakan `loc`

In [ ]:
df.loc[[0,3,4], ['B','E']]

### Seleksi baris dengan kondisi

In [ ]:
df.loc[df['B']>10, ['B','D','E']]

### Slicing Data Frame dengan `loc`

In [ ]:
df.loc[0:4, 'B':'D']

## \#12: Membentuk kolom bertipe `datetime` dari sejumlah kolom lain pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'day':[1, 2, 10 ,25, 12], 
        'month':[1, 2, 4, 5, 6], 
        'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

### Membentuk kolom bertipe `datetime`

In [ ]:
df['penaggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

In [ ]:
df.dtypes

## \#13: Konversi nilai numerik ke dalam sejumlah kategori

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan `cut()`

In [ ]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

## \#14: Menggabungkan (merge) dua Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
df1 = df.copy(deep=True)
df1 = df1.drop([1, 4])
df1

In [ ]:
df2 = df.copy(deep=True)
df2 = df2.drop([0, 3])
df2

### Menggabungkan dua Data Frame

In [ ]:
df_inner = pd.merge(df1, df2, how='inner')
df_inner

In [ ]:
df_outer = pd.merge(df1, df2, how='outer')
df_outer

## \#15: Memecah nilai string dari suatu kolom ke dalam beberapa kolom baru

### Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.0.1

### Persiapan Data Frame

In [2]:
data = {'nama':['Didi Kempot', 'Glenn Fredly', 'Mbah Surip'], 
        'tempat_kelahiran':['Surakarta, Jawa Tengah', 'Jakarta, DKI Jakarta', 'Mojokerto, Jawa Timur']}
df = pd.DataFrame(data)
df

           nama        tempat_kelahiran
0   Didi Kempot  Surakarta, Jawa Tengah
1  Glenn Fredly    Jakarta, DKI Jakarta
2    Mbah Surip   Mojokerto, Jawa Timur

### Memecah nama depan dan nama belakang

In [3]:
df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

           nama        tempat_kelahiran nama_depan nama_belakang
0   Didi Kempot  Surakarta, Jawa Tengah       Didi        Kempot
1  Glenn Fredly    Jakarta, DKI Jakarta      Glenn        Fredly
2    Mbah Surip   Mojokerto, Jawa Timur       Mbah         Surip

### Memecah nama kota dan propinsi

In [4]:
df[['kota', 'propinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,propinsi
0,Didi Kempot,"Surakarta, Jawa Tengah",Didi,Kempot,Surakarta,Jawa Tengah
1,Glenn Fredly,"Jakarta, DKI Jakarta",Glenn,Fredly,Jakarta,DKI Jakarta
2,Mbah Surip,"Mojokerto, Jawa Timur",Mbah,Surip,Mojokerto,Jawa Timur