![](./image/pandas-logo.png)

# Python Pandas: Tips & Tricks

Oleh Channel YouTube [Indonesia Belajar](https://www.youtube.com/IndonesiaBelajarKomputer)

## \#01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
tuple('ABCDE')

### Menyertakan Prefix Kolom

In [ ]:
df.add_prefix('kolom_')

### Menyertakan Suffix Kolom

In [ ]:
df.add_suffix('_field')

## \#02: Pemilihan baris (rows selection) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Selection dengan operator logika `|`

In [ ]:
df[(df['A'] == 1) | (df['A'] == 3)]

### Selection dengan fungsi `isin()`

In [ ]:
df[df['A'].isin([1, 3])]

### Mengenal operator negasi `~`

In [ ]:
df[~df['A'].isin([1, 3])]

## \#03: Konversi tipe data String ke Numerik pada kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'col1':['1', '2', '3', 'teks'], 
        'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

In [ ]:
df.dtypes

### Konversi tipe data dengan fungsi `astype()`

In [ ]:
df_x = df.astype({'col2':'int'})
df_x

In [ ]:
df_x.dtypes

### Konversi tipe data numerik dengan fungsi `to_numeric()`

In [ ]:
df.apply(pd.to_numeric, errors='coerce')

## \#04: Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

In [ ]:
df.dtypes

### Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

### Memilih kolom bertipe data string atau `object`

In [ ]:
df.select_dtypes(include='object')

### Memilih kolom bertipe data `datetime`

In [ ]:
df.select_dtypes(include='datetime')

### Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include=['number', 'object'])

## \#05: Membalik urutan baris dan kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membalik urutan kolom

In [ ]:
df.loc[:, ::-1]

### Membalik urutan baris

In [ ]:
df.loc[::-1]

### Membalik urutan baris dan melakukan penyesuaian ulang `index`

In [ ]:
df.loc[::-1].reset_index(drop=True)

## \#06: Mengganti nama (label) kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Mengganti nama (label) untuk sebuah kolom pada Data Frame

In [ ]:
df.rename(columns={'C':'Hobi'})

### Mengganti nama (label) untuk banyak kolom pada Data Frame

In [ ]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

## \#07: Menghapus (drop) missing values (`NaN`)

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()

In [ ]:
df = df.rename(columns={'index':'Z'})
df.head()

In [ ]:
df_backup = df.copy(deep=True)

### Menghapus (drop) setiap kolom yang mengandung missing values

In [ ]:
df = df.dropna(axis='columns') 
df.head()

### Menghapus (drop) setiap baris yang mengandung missing values

In [ ]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

### Persentase missing values untuk tiap kolom

In [ ]:
df = df_backup.copy(deep=True)
df.isna().mean()

### Menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [ ]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

## \#08: Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

### Mengenal Pandas Series

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
type(df)

### Memeriksa kesamaan dengan operator `==`

In [ ]:
df['A'] == df['B']

### Memeriksa kesamaan dengan method `equals()`

In [ ]:
df['A'].equals(df['B'])

### Memeriksa kesamaan antar dua Data Frame

In [ ]:
df1 = df.copy(deep=True)

df.equals(df1)

In [ ]:
df == df1

## \#09: Membagi Data Frame menjadi dua secara acak

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

In [ ]:
df.shape

In [ ]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

In [ ]:
df_1

In [ ]:
df_2

## \#10: Mengganti nama (label) kolom pada Data Frame berdasarkan pola

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

### Menggunakan lowercase untuk nama kolom dan mengganti spasi dengan `_`

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

### Memangkas kelebihan spasi pada nama kolom

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.head()

## \#11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan `loc`

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Seleksi kolom dan baris menggunakan `loc`

In [ ]:
df.loc[[0,3,4], ['B','E']]

### Seleksi baris dengan kondisi

In [ ]:
df.loc[df['B']>10, ['B','D','E']]

### Slicing Data Frame dengan `loc`

In [ ]:
df.loc[0:4, 'B':'D']

## \#12: Membentuk kolom bertipe `datetime` dari sejumlah kolom lain pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'day':[1, 2, 10 ,25, 12], 
        'month':[1, 2, 4, 5, 6], 
        'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

### Membentuk kolom bertipe `datetime`

In [ ]:
df['penaggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

In [ ]:
df.dtypes

## \#13: Konversi nilai numerik ke dalam sejumlah kategori

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan `cut()`

In [ ]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

## \#14: Menggabungkan (merge) dua Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

In [ ]:
df1 = df.copy(deep=True)
df1 = df1.drop([1, 4])
df1

In [ ]:
df2 = df.copy(deep=True)
df2 = df2.drop([0, 3])
df2

### Menggabungkan dua Data Frame

In [ ]:
df_inner = pd.merge(df1, df2, how='inner')
df_inner

In [ ]:
df_outer = pd.merge(df1, df2, how='outer')
df_outer

## \#15: Memecah nilai string dari suatu kolom ke dalam beberapa kolom baru

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'nama':['Didi Kempot', 'Glenn Fredly', 'Mbah Surip'], 
        'tempat_kelahiran':['Surakarta, Jawa Tengah', 'Jakarta, DKI Jakarta', 'Mojokerto, Jawa Timur']}
df = pd.DataFrame(data)
df

### Memecah nama depan dan nama belakang

In [ ]:
df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

### Memecah nama kota dan propinsi

In [ ]:
df[['kota', 'propinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

## \#16: Menata ulang Data Frame dengan mutiple indexes menggunakan `unstack()`

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

### Data Frame dengan multiple indexes dari hasil groupping

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().to_frame()

### Menata ulang Data Frame dengan mutiple indexes

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().unstack()

## \#17: Resampling pada data deret waktu (time series data)

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

### Resampling data dengan interval monthly

In [ ]:
df.resample('M')['col1'].sum().to_frame()

### Resampling data dengan interval daily

In [ ]:
df.resample('D')['col1'].sum().to_frame()

## \#18: Membentuk dummy Data Frame

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.3
1.18.1

### Membentuk Data Frame dari Dictionary

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

### Membentuk Data Frame dari Numpy Array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[13, 17, 13],
       [16,  9,  5],
       [18,  4, 15],
       [14, 14, 10],
       [ 4,  4, 17]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  13  17  13
1  16   9   5
2  18   4  15
3  14  14  10
4   4   4  17

### Membentuk Data Frame dengan memanfaatkan  `pandas.util.testing`

In [5]:
pd.util.testing.makeDataFrame().head()

/home/boedy/anaconda3/lib/python3.7/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
48q2BTpABg -1.529723  0.643414 -1.612810  0.505721
XHsP3CUkBB  1.159133  0.136757  0.342941  1.015486
3kYFb8vb3U -0.683569  0.247529  0.667123  1.271158
I3VjxA2HTs  1.036610  0.167926  0.593071 -0.464998
y3JfFDsD0Z  0.604637 -0.136927 -0.652205 -0.272115

In [6]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  0.090246  2.356486  1.605894 -0.459279
2000-01-04 -1.492981  0.158751  0.630237  0.915517
2000-01-05 -1.231179  0.133199  2.024011 -2.032717
2000-01-06 -0.336300  2.014547 -2.040669 -0.506292
2000-01-07 -0.652891 -0.952087 -0.142273  0.643559

In [8]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
hLRspu6zPs -1.515764  0.302711       NaN  0.363410
oHUZt4MbTs       NaN  0.281403  0.600256 -0.270292
NwYumSeXxk -1.824000       NaN  0.774171  1.723667
w8Vk82cs2p  2.302892 -0.036730 -0.872167  1.962209
bnE2z2senR  0.955626 -0.403107  1.232193 -0.731747

## \#19: Formatting pada kolom Data Frame

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.3
1.18.1

### Persiapan Data Frame

In [89]:
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

   omset  operasional
0      4           17
1     15            5
2     18            9
3     10           16
4      8           19

In [90]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] * 10_000
df

     omset  operasional
0   400000       170000
1  1500000        50000
2  1800000        90000
3  1000000       160000
4   800000       190000

In [91]:
df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df = df.reset_index()
df = df.rename(columns={'index':'tanggal'})
df

     tanggal    omset  operasional
0 2000-01-01   400000       170000
1 2000-01-02  1500000        50000
2 2000-01-03  1800000        90000
3 2000-01-04  1000000       160000
4 2000-01-05   800000       190000

### Melakukan formatting pada kolom Data Frame

In [92]:
formatku = {'tanggal':'{:%d/%m/%y}', 
            'operasional':'Rp {:.2f}',
            'omset':'Rp {:.2f}'}

laporan = df.style.format(formatku)
laporan

In [93]:
type(laporan)

pandas.io.formats.style.Styler

In [94]:
laporan.hide_index()

In [95]:
laporan.set_caption('Data Omset dan Operasional')

In [96]:
laporan.highlight_min('omset', color='pink')
laporan.highlight_max('omset', color='lightgreen')

laporan.highlight_min('operasional', color='lightblue')
laporan.highlight_max('operasional', color='grey')

## \#20: Menggabungkan (merge) dua Data Frame secara berdampingan

### Import Modules

In [115]:
import pandas as pd

print(pd.__version__)

1.0.3

### Persiapan Data Frame

In [116]:
d1 = {'col1':[1, 2, 3], 
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [117]:
d2 = {'col3':[4, 5, 6], 
      'col4':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

   col3  col4
0     4    40
1     5    50
2     6    60

### Menggabungkan (merge) dua Data Frame secara berdampingan

In [118]:
df = pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1  col2  col3  col4
0     1    10     4    40
1     2    20     5    50
2     3    30     6    60