![](./image/pandas-logo.png)

# Python Pandas: Tips & Tricks

Oleh Channel YouTube [Indonesia Belajar](https://www.youtube.com/IndonesiaBelajarKomputer)

In [1]:
from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'scroll': True,
        'width': '100%',
        'height': '100%',
})

{'scroll': True, 'width': '100%', 'height': '100%'}

## \#51: Seleksi baris dengan `between()`

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

### Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  2  3  6  8  9
1  2  5  3  7  9
2  9  4  2  4  5
3  7  5  2  6  4
4  6  4  9  9  8
5  7  2  9  3  8
6  7  9  1  8  5
7  6  2  1  7  4
8  8  5  6  5  4
9  3  7  2  3  4

### Seleksi baris dengan `between()`

In [4]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  2  3  6  8  9
1  2  5  3  7  9
9  3  7  2  3  4

In [5]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
9  3  7  2  3  4

## \#52: Transformasi kolom menjadi baris pada Data Frame

### Import Modules

In [6]:
import pandas as pd

print(pd.__version__)

1.0.5

### Persiapan Data Frame

In [7]:
d = {
'kode_area': [123, 456, 789, 321],
'pabrik': [4, 2, 5, 0],
'gudang': [2, 4, 7, 3],
'toko': [64, 32, 15, 24]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang  toko
0        123       4       2    64
1        456       2       4    32
2        789       5       7    15
3        321       0       3    24

### Transformasi kolom menjadi baris

In [8]:
df = df.melt(id_vars='kode_area', 
             var_name='jenis_bangunan', 
             value_name='jumlah')
df

    kode_area jenis_bangunan  jumlah
0         123         pabrik       4
1         456         pabrik       2
2         789         pabrik       5
3         321         pabrik       0
4         123         gudang       2
5         456         gudang       4
6         789         gudang       7
7         321         gudang       3
8         123           toko      64
9         456           toko      32
10        789           toko      15
11        321           toko      24

## \#53: Membuat kategori baru berdasarkan threshold (ambang batas)

### Import Modules

In [9]:
import pandas as pd

print(pd.__version__)

1.0.5

### Persiapan Data Frame

In [10]:
d = {'hobi':['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca', 
             'baca', 'mancing', 'fotograsi', 
             'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

### Membuat kategori baru berdasarkan threshold (ambang batas)

In [11]:

df['hobi'].value_counts()

mancing      5
baca         2
jogging      1
camping      1
renang       1
fotograsi    1
Name: hobi, dtype: int64

In [12]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

mancing      0.454545
baca         0.181818
jogging      0.090909
camping      0.090909
renang       0.090909
fotograsi    0.090909
Name: hobi, dtype: float64

In [13]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'camping', 'renang', 'fotograsi'], dtype='object')

In [14]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [15]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64