![](./image/pandas-logo.png)

# Python Pandas: Tips & Tricks

Oleh Channel YouTube [Indonesia Belajar](https://www.youtube.com/IndonesiaBelajarKomputer)

## \#01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.0
1.18.1

### Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  1  3  8  3
1  9  8  5  6  8
2  3  3  4  5  7
3  6  1  3  9  7
4  3  2  2  4  6

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

### Menyertakan Prefix Kolom

In [10]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        7        1        3        8        3
1        9        8        5        6        8
2        3        3        4        5        7
3        6        1        3        9        7
4        3        2        2        4        6

### Menyertakan Suffix Kolom

In [17]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        7        5        9        8        9
1        8        1        9        5        3
2        3        4        5        3        2
3        5        5        7        4        7
4        6        6        8        2        9

## \#02: Filtering atau penyaringan baris (rows) pada Data Frame

### Import Modules

In [18]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.0
1.18.1

### Persiapan Data Frame

In [19]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  4  3  2  3
1  1  2  2  4  1
2  3  4  4  2  2
3  2  4  4  1  1
4  4  1  4  1  4
5  1  2  1  2  1
6  2  4  3  2  3
7  2  2  2  4  1
8  2  4  3  4  3
9  1  1  1  3  1

### Filtering dengan operator logika `|` dan  `&`

In [20]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  1  4  3  2  3
1  1  2  2  4  1
2  3  4  4  2  2
5  1  2  1  2  1
9  1  1  1  3  1

### Filtering dengan fungsi `isin()`

In [21]:
df[df['A'].isin([1, 3])]

   A  B  C  D  E
0  1  4  3  2  3
1  1  2  2  4  1
2  3  4  4  2  2
5  1  2  1  2  1
9  1  1  1  3  1

### Mengenal operator negasi `~`

In [22]:
df[~df['A'].isin([1, 3])]

   A  B  C  D  E
3  2  4  4  1  1
4  4  1  4  1  4
6  2  4  3  2  3
7  2  2  2  4  1
8  2  4  3  4  3

## \#03 Konversi tipe data String ke Numerik pada kolom Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
data = {'col1':['1', '2', '3', 'teks'], 
        'col2':['1', '2', '3', '4']}
df = pd.DataFrame(data)
df

In [ ]:
df.dtypes

### Konversi tipe data dengan fungsi `astype()`

In [ ]:
df_x = df.astype({'col2':'int'})
df_x

In [ ]:
df_x.dtypes

### Konversi tipe data numerik dengan fungsi `to_numeric()`

In [ ]:
df.apply(pd.to_numeric, errors='coerce')

## \#4 Pemilihan/seleksi kolom Data Frame berdasarkan tipe data

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size = (n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()
df['teks'] = list('ABCDE')
df['bil_pecahan'] = df['bil_pecahan'].astype('float')
df

In [ ]:
df.dtypes

### Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

### Memilih kolom bertipe data string atau `object`

In [ ]:
df.select_dtypes(include = 'object')

### Memilih kolom bertipe data `datetime`

In [ ]:
df.select_dtypes(include='datetime')

### Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include = ['number', 'object'])

## \#5 Membalik urutan baris dan kolom pada Data Frame

### Import Modules

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

### Persiapan Data Frame

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

### Membalik urutan kolom

In [ ]:
df.loc[:, ::-1]

### Membalik urutan baris

In [ ]:
df.loc[::-1]

### Membalik urutan baris dan melakukan penyesuaian ulang `index`

In [ ]:
df.loc[::-1].reset_index(drop = True)

## \#6 Mengganti nama (label) kolom pada Data Frame

### Import Modules

In [11]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.0.0
1.18.1

### Persiapan Data Frame

In [12]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  5  9  8  9
1  8  1  9  5  3
2  3  4  5  3  2
3  5  5  7  4  7
4  6  6  8  2  9

### Mengganti nama (label) kolom pada Data Frame

In [16]:
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  7  5     9  8  9
1  8  1     9  5  3
2  3  4     5  3  2
3  5  5     7  4  7
4  6  6     8  2  9

In [15]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     7       5  9     8  9
1     8       1  9     5  3
2     3       4  5     3  2
3     5       5  7     4  7
4     6       6  8     2  9